
<div class="card-saldo">
    <div class="container row valign-wrapper">
        <div class="col s12 m7 l7 hide-on-small-only">
            <p class="font-big no-margin ">Seja bem vindx, Thiago</p>
        </div>
        <div class="col s12 m7 l7 show-on-small  hide-on-med-and-up">
            <p>Agencia: 1234-X</p>
            <p>Conta: 1234567-X</p>
        </div>
        <div class="col s12 m5 l5">
            <p class="font-medium text-tiny">Saldo</p>
            <p class="font-medium text-bold">R$ 12.000,00</p>
        </div>
    </div>
</div>