<div class="card-saldo bg-yellow margin-bottom-20 ">
    <div class="container">
            <ul class=" row no-margin">
                <li class= "col s3 offset-l10 padding-top-20 hide-on-small-only">
                    <button mz-button class="btn grey darken-3" (click)="logout()">
                        <i class="material-icons icon-white right">close</i>Sair
                    </button>
                </li>
                <li>
                    <div class="col s12 m7 l7 ">
                        <p><span class="text-bold">Agencia:</span> {{agencia}} // <span class="text-bold">Conta: </span>{{conta}}</p>
                    </div>
                </li>
                <li>
                    <div class="col s12 m5 l5 align-content">
                        <p class="font-medium no-margin">Saldo</p>
                        <p class="font-big no-margin" [ngClass]="{'negativo':saldo < 0,
                'positivo':saldo > 0}">{{saldo | currency:'BRL':true }}</p>
                    </div>
                </li>
            </ul>
    </div>
</div>

<!--
            <div class="col s12 padding-top-20 hide-on-small-only">

            </div>
            <div class="row align-items-top align-content">
                <div class="col s12 m7 l7 hide-on-small-only align-content">
                    <h5 class="no-margin ">Seja bem vindx, {{nome}}</h5>
                </div>
                <div class="col s6 m7 l7 show-on-small  hide-on-med-and-up align-content">
                    <p><span class="text-bold">Agencia:</span> {{agencia}}</p>
                    <p> <span class="text-bold">Conta: </span>{{conta}}</p>
                </div>
                <div class="col s6 m5 l5 align-content">
                    <p class="font-medium">Saldo</p>
                    <p class="font-medium text-bold" [ngClass]="{'negativo':saldo_total < 0,
            'positivo':saldo_total > 0}">R$ 12.000,00</p>
                </div>
            </div>
        </div>
</div>-->