<div class="row max-height sidenav sidenav-fixed">

    <div class="max-height nav-color">
        <i class="circle logo-image-circle responsive-image"> </i>
    </div>
        <a routerLink=""><i class="circle logo-image-circle responsive-image"> </i></a>
        <div class="topics">
            <h6>Conta</h6>
            <p><a routerLink="" routerLinkActive="ativado">Dados Gerais</a></p>
            <h6>Transações</h6>
            <p><a routerLink="transferencia" routerLinkActive="ativado">Transferências</a></p>
            <p><a routerLink="extrato" routerLinkActive="ativado">Extrato</a></p>
        </div>

        <div class="footer">
            © 2020 | MBTeam. All Rights Reserved
        </div>
    </div>