    .logo-image-circle {
        content: url('src/assets/LogoPequenoNegativo.png');
        max-width: 5rem;
        max-height: 5rem;
    }

    .nav-color {
        background-color: #476371;
        height: 100%;
        overflow: hidden;

        .page-footer{
            background-color: #476371;
            margin-top: 10vh;
        }
        .topics{
        color: #D2EAEA;
        margin-left: 20px;
        font-family: Roboto;
        
        p {
            margin-left: 30px;
            font-family: Roboto;
            color: #D2EAEA;
            font-size: 18px;
        
        a:link, a:visited {
            text-decoration: none;
            color: #D2EAEA;
            }
        a:hover, .ativado {
            mix-blend-mode: normal;
            opacity: 0.5;
            padding: 10px;
            color: #D2EAEA;
            padding-right: 100px;
            }
        }
    }   
        
        
    }