<div class="sidenav">
    <div class="row max-height sidenav sidenav-fixed">

        <div class="max-height nav-color">
            <a routerLink=""><i class="circle logo-image-circle responsive-image"> </i></a>
            <div class="topics">
                <h4>Conta</h4>
                <p><a routerLink="../home" routerLinkActive="ativado">Dados Gerais</a></p>
                <h4>Transações</h4>
                <p><a routerLink="../transferencias" routerLinkActive="ativado">Transferências</a></p>
                <p><a routerLink="../extrato" routerLinkActive="ativado">Extrato</a></p>
            </div>

            <footer class="page-footer" id="page-footer">
                <div class="footer-copyright">
                <div class="container">
                © 2020 Copyright MbTeam
                </div>
                </div>
            </footer>
                
        </div>
        
    </div>
</div>