<div class="container text-center p-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Descrição</th>
                <th scope="col">Categoria</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transacao of extrato">
                <td>{{ transacao.id }}</td>
                <td>{{ transacao.descricao }}</td>
                <td>{{ transacao.categoria }}</td>
                <td>{{ transacao.data | date }}</td>
                <td [ngClass]="{'negativo':transacao.valor < 0,
                                'positivo':transacao.valor > 0}">
                    {{ transacao.valor | currency:'BRL' }}
                </td>
            </tr>
        </tbody>
    </table>
</div>