html, body {
    margin: 0;
}
    .bg {
        background: url("src/assets/BGlogin.jpg");
    
        height: 100%;
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }