<div class="container">
    <div class="row">
        <div class="col s12 bg-grey border-left-yellow home-card">
            <h5 class="padding-20">Conta corrente</h5>
            <div class="row">
                <h6 class="col s12 text-bold">Conta MBBank</h6>
                <p class="col s6 m2 l2"><span class="text-bold">Agencia:</span> {{agencia}}</p>
                <p class="col s6 m2 l2"><span class="text-bold">Conta: </span>{{conta}}</p>
            </div>
        </div>
    </div>
</div>